<div>
  <div>
    <h1>Delivery Tracker</h1>
    <p>Know if something gets lost in the mail.</p>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>Expecting a package?</h2>

    <form action="/insert_delivery" method="post">
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

     <div>
        <label for="arrive_on_box">
        Supposed to arrive on
        </label>

        <input type="date" id="arrive_on_box" name="query_arrive_on">
      </div>

      <div>
        <label for="details_box">
          Details
        </label>

       
        <textarea id="details_box" name="query_details" rows="3"></textarea>
      </div>

      <button>
        Log delivery
      </button>
    </form>
  </div>
</div>

<hr>
<div class="waiting_on">
  <h2>Waiting on</h2>
  <ul>
  <% @list_of_deliveries.each do |delivery|%>
  <% if delivery.status == "waiting_on"%>
  <li>
  <div><%=delivery.descrition%></div>
  <%expected_date = delivery.arrive_on%>
  <% if expected_date < 3.day.ago%>
  <div style="color:red">Supposed to arrive on <%=delivery.arrive_on_to_s%></div>
  <%else%>
  <div style="color:black">Suppossed to arrive on <%=delivery.arrive_on_to_s%></div>
<%end%>
<% if delivery.details != nil%>
<div><%=delivery.details%></div>
<%end%>
<form action="/modify_delivery/<%=delivery.id%>" method="post">
  <input type="hidden" name="query_status" value="received">

  <button>Mark as received</button>
  </form>
  </li>
  <%end%>
  <%end%>
  </ul>
  </div>
  <hr>

  <div class="received">
  <h2>Received</h2>
  <ul>
  <%


<hr>
